<form action="/comprar" method="POST"> <!-- ultilizando o metodo post para a comunicação com o banco de dados-->
    <label for="crypto">Coin name:</label>
    <input type="text" name="crypto" id="crypto">
    <label for="exchange">Exchange name:</label>
    <input type="text" name="exchange" id="exchange">
    <label for="cryptoUND">Crypto UND:</label>
    <input type="number" name="cryptoUND" id="cryptoUND">
    <label for="USDT">USDT</label>
    <input type="text" name="USDT" id="USDT">
    <button name="comprar">comprar</button>

</form>